@model Finance.Models.Transferencia

@{
    ViewBag.Title = "Editar";
}

<h2>Editar</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Transferencia</legend>

        @Html.HiddenFor(model => model.TransferenciaId)
		@Html.Partial("_CriarOuEditar", Model)

        <p>
            <input type="submit" value="Salvar" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Voltar para listagem", "Indice")
</div>
