@model Finance.Models.ReceitaCategoria

@{
    ViewBag.Title = "Editar";
}

<h3>Editar ReceitaCategoria</h3>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

        @Html.HiddenFor(model => model.ReceitaCategoriaId)
		@Html.Partial("_CriarOuEditar", Model)

        <p>
            <input class="tiny success button" type="submit" value="Salvar" />
        </p>
}

<div>
    @Html.ActionLink("Voltar para listagem", "Indice")
</div>
